#right-content {
  scroll-behavior: smooth;
}
.active {
  color: #41ffc6;
}
#right-bar a {
  transition: all;
  transition-delay: 100ms;
}

.loadmap::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -3px;
  width: 2px;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1668px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -3px;
    width: 2px;
    height: 98%;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1520px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: -3px;
    width: 2px;
    height: 88%;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1102px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: -3px;
    width: 2px;
    height: 90%;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1024px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -3px;
    width: 2px;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 430px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: 22px;
    left: -3px;
    width: 2px;
    height: 90%;
    background-color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 300px) {
  .loadmap::after {
    content: "";
    position: absolute;
    bottom: 46px;
    left: -3px;
    width: 2px;
    height: 82%;
    background-color: rgb(255, 255, 255);
  }
}

table {  
  width: 100%;  
  border-collapse: collapse;  
}  

th, td {  
  border: 1px solid #ddd;  
  padding: 8px;  
  text-align: left;  
}  
