@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("./font/Oswald-VariableFont_wght.ttf"), format("ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf"), format("ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.ttf"), format("ttf");
}

html {
  scroll-behavior: smooth;
  /* Enable smooth scrolling */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}

.hero-section {
  /* background-image: url("/assets/hero-img.webp"); */
  height: calc(100vw * 1536 / 2160);
}

.section {
  background-size: 100% 100%;
}
.section-Eva {
  background-size: 100% auto;
}

.footer {
  background-size: 100% 750px;
  background-position: top center;
}

@media only screen and (max-width: 1440px) {
  .hero-section {
    height: 1024px;
  }

  .section {
    background-size: auto 100%;
  }

  .section-Eva {
    background-size: auto 100%;
  }

  .footer {
    background-size: auto 100%;
  }
}

/* bg-[url('/assets/hero-img-mobile.webp')] sm:bg-[url('/assets/hero-img.webp')] */
@media only screen and (max-width: 768px) {
  .hero-section {
    height: calc(100vw * 2292 / 1125);
  }
}

#card-content {
  scroll-behavior: smooth;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  padding-left: 6px !important;
  padding-right: 6px !important;
  left: 50% !important;
  bottom: 0px !important;
  transform: translateX(-50%) !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0 6px;
}

.swiper-pagination-bullets.swiper-pagination-vertical {
  padding: 4px;
}

.swiper-pagination-bullets.swiper-pagination-vertical .swiper-pagination-bullet {
  margin: 0px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.swiper-pagination-bullets {
  width: fit-content !important;
  border: 2px solid #492AD3;
  border-radius: 20px;
  background-color: #130C51;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #8998DD !important;
}

.swiper-pagination-bullet-active {
  background-color: #5CFFE2 !important;
}

.swiper-scrollbar {
  background-color: #1F1F6B!important;
  width: 4px!important;
  border-radius: 4px!important; 
}  

/* Custom scrollbar drag handle */  
.swiper-scrollbar-drag {  
  background-color: #5528E7!important; /* Blue color for the drag handle */  
  border-radius: 4px!important;
}  

@media only screen and (max-width: 768px) {
  .swiper-pagination-vertical {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .swiper-slide.slider-desktop {
    display: none;
  }
  .swiper-slide.footer-slider {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide.slider-mobile {
    display: none;
  }
  .swiper-slide.footer-slider {
    display: none;
  }
  .swiper-scrollbar {
    display: none;
  }
}