@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("./font/Oswald-VariableFont_wght.ttf"), format('ttf')
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf"), format('ttf')
}

@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.ttf"), format('ttf')
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}
.hero-section {
  height: calc(100vw*1249/1440);
  background-size: 100% 100%;
}
.section {
  /* height: calc(100vw*1024/1440); */
  /* height: 1400px; */
  background-size: 100% 100%;
  /* padding-top: calc((calc(100vw * 1024 / 1440) - 1034px) / 2); */
}
.footer {
  background-size: 100% 100%;
}
@media only screen and (max-width: 1440px) {
  .hero-section {
    height: 1249px;
    background-size: auto 100%;
  }
  .section {
    /* height: 1024px; */
    background-size: auto 100%;
  }
  .footer {
    background-size: auto 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    height: 764px;
    background-size: auto 100%;
  }
}