@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Oswald";
  src: url("./font/Oswald-VariableFont_wght.ttf"), format('ttf')
}

@font-face {
  font-family: "Poppins";
  src: url("./font/Poppins-Regular.ttf"), format('ttf')
}

@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-Regular.ttf"), format('ttf')
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Poppins;
}
.hero-section {
  height: calc(100vw*1249/1440);
  background-size: 100% 100%;
}
.section {
  background-size: 100% 100%;
}
.footer {
  background-size: 100% 100%;
}
@media only screen and (max-width: 1440px) {
  .hero-section {
    height: 1249px;
    background-size: auto 100%;
  }
  .section {
    background-size: auto 100%;
  }
  .footer {
    background-size: auto 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    height: 764px;
    background-size: auto 100%;
  }
}

.swiper-pagination {
  border: 1px solid #492AD3;
  border-radius: 30px;
  width: 28px;
  background-color: #130C51;
  padding-top: 12px!important;
  padding-bottom: 12px!important;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.swiper-pagination-bullet {
  width: 12px!important;
  height: 12px!important;
  margin: 0px!important;
  background-color: #8998dd!important;
}

.swiper-pagination-bullet-active {
  background-color: #5CFFE2!important;
}